.Container
{
  min-width: 350px;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

::-webkit-input-placeholder
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.Container-text
{
  margin-bottom: 10px;
  text-align: center;
}

.Container-title
{
  margin-top: 5px;
  font-size: 14px;
  color: #e52f4b;
  margin-bottom: 5px;
  font-weight: bold
}

.Container-label
{
  display: flex;
}

.Container--required
{
  padding-left: 5px;
  color: #e52f4b;
}

.Container-input
{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
}

.Container-date
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.Container-bottomWrapper
{
  margin-bottom: 10px;
  display: flex;
}

.Container-half
{
  width: 50%;
  display: flex;
  align-items: center;
}

.Container-checkbox
{
  margin-left: 5px;
}

.Container-buttonWrapper
{
  display: flex;
  justify-content: center;
}

.Container-button
{
  height: 30px;
  min-width: 100px;
  background-color: #e52f4b;
  border-radius: 20px;
  border: 1px solid #e52f4b;
  color: white;
}

.Container-button:hover
{
  background-color: white;
  color: #e52f4b;
}

.Container-button:active
{
  background-color: white;
  color: #e52f4b;
}

.Container-button:focus
{
  background-color: white;
  color: #e52f4b;
}

.Container-error
{
  display: none;
  margin-top: 10px;
  text-align: center;
  color: #e52f4b;
}

.Container--display
{
  display: block;
}

.Container--italics
{
  font-style: italic;
}
